@import url('https://fonts.cdnfonts.com/css/baloo-paaji');
@import url('https://fonts.cdnfonts.com/css/cooper-black');

.nav-container {
    left: 0;
    right: 0;
    top:0;
    position: fixed;
    margin: 0;
    border-radius: 0px;
    padding-top: 2em;
    padding-left: 75%;
    height: 3em;
}


.nav-items-container *{
    padding-left: 0.5em;
    color:  var(--secondary);
    /* font-family: 'Cooper Black', sans-serif; */
    font-family: 'Baloo Paaji', cursive;
    font-size: 2.3em;
}

.nav-items-container *:hover{
    text-decoration: none;
}