@import url('https://fonts.cdnfonts.com/css/cooper-black');
.nav-container {
    left: 0;
    right: 0;
    top:0;
    position: fixed;
    margin: 0;
    border-radius: 0px;
    padding-top: 0.7em;
    padding-left: 75%;
    height: 3em;
    z-index: 1000;
}


.nav-items-container *{
    padding-left: 0.5em;
    color:  var(--secondary);
    font-family: 'Cooper Black', sans-serif;
    font-size: 2em;
}

.nav-items-container *:hover{
    text-decoration: none;
}