:root {
  --primary-color: #1f1002;
  --secondary-color: #b2f7b5;
  --tertiary-color: #ffffff
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
	background: linear-gradient(-45deg, #c5f7d1, #b2f7b5);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
