@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --primary: #1DB954;;
  --secondary: #ffffff;
  --tertiary: #23527c;
  --primary-font: 'Poppins', sans-serif;
}

code {
  font-family: var(--primary-font);
}


body {
	background: var(--primary);
	/* linear-gradient(-45deg, #c5f7d1, #b2f7b5); */
	background-size: 400% 400%;
	/* animation: gradient 30s ease infinite; */
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
