:root{
    --profile-pic-border-radius: 1em;
}

.project-title {
    font-size: 3.5em;
    color: var(--secondary);
    font-family: 'Baloo Paaji', cursive;
}

.project-desc {
    border-radius: 2em;
}

#projects-header-text {
    color: var(--secondary);
    font-family: 'Baloo Paaji', cursive;
}

#projects-header-divider {
    width: 51em;
    border-radius: 0.3em;
    border: 0.25em solid;
}

#projects-header {
    margin-left: 22em;
    padding: 0px;
    display: flex;
    align-items: center;
}

.image-container {
    display: inline-block;
    position: relative;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 102, 0.12);
    border-radius: var(--profile-pic-border-radius);
    border-color: var(--secondary);
    border-style: solid;
    border-width: 0.5em;
    z-index: 1;
}

.project-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--profile-pic-border-radius);
    object-fit: cover;
}

.list-stack-container {
    margin-block: 1em;
}

.logo-pair {
    margin-left: 0.4em;
}
